/* background-color: #282c34;
color: #61dafb; */
.remove-padding {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.form-select {
  /* width: 20%; */
}

#root {
  border: 1px solid;
  width: 100vw;
  background-color: #282c34;
}

body {
  border: 1px solid blue;
  /* max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
   */
}

#article {
  border: 10px solid #282c34;
}
