/* background-color: #282c34;
color: #61dafb; */
.remove-padding {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

#article {
  border: 10px solid #282c34;
}

#chart {
  color: white;
}

a {
  text-decoration: none;
}
